page-feedback {
     ion-item {
        border-radius: 0 !important;
        padding-left: 16px !important;
        margin-bottom: 0 !important;
        margin-bottom: 10px;
        color: #aaaaaa !important;
        background-color: transparent !important;
      }
      .item .label{
        font-size: 15px;
        font-weight: 400;
      }
       ::-webkit-input-placeholder {
        color: white !important;
      }
      .item-inner {
        border-bottom: 0 !important;
        box-shadow: none !important;
      }

      .login-button {
        text-transform: none;
        @include border-radius(40px);
        background-color: #ed7700;
        border: 0;
      }
      .mrt16{
       margin-top: 20px;
      }
      .text-input{
       border: 0;
       height: auto;
       margin:0;
       color: #425363;
       font-family: $font-stack1;
       width:100%;
       background-color:transparent;
       text-align: left;
       font-size: 15px;
       font-weight: 400;
     }
     .text-input:focus {
       outline: 0;
     }
     .text-input::-moz-placeholder {
       color: #aaaaaa;
       opacity: 1;
     }
     .text-input:-ms-input-placeholder {
       color: #aaaaaa;
     }
     .text-input::-webkit-input-placeholder {
       color: #aaaaaa;
     }
     .item{
       background:transparent;
       border-bottom:1px solid#bbbbbb;
       padding-left: 0;
       position: relative;
     }
     .item:after{
       content: '';
       background-color: #bbbbbb;
       width: 1px;
       height: 10px;
       position: absolute;
       bottom: 0;
       right: 0;
     }
     .item:before{
       content: '';
       background-color: #bbbbbb;
       width: 1px;
       height: 10px;
       position: absolute;
       bottom: 0;
       left: 0;
     }
     .dtls-bx{
       background-color: #f7f7f7;
       width: 100%;
       border:1px solid #e8e8e8;
       overflow: hidden;
       margin-bottom: 10px;
       margin-top: 20px;
        h4{
        font-family: $font-stack1;
        font-size: 15px; 
        margin-bottom: 11px; 
        color: #425363;
        }
        p{
         margin-top: 0;
         color: #777;
         padding: 12px 16px 12px 38px;
         border-bottom:1px solid #e8e8e8;
         position: relative;
        }
        p:last-child{border-bottom: 0;}
        p .icon{
          position: absolute;
          left: 0;
          top: 0;
          color: #fff;
          background-color: #425363;
          text-align: center;
          line-height: 44px;
          height: 44px;
          width: 30px;
          height: 100%;
        }
    }
    h1.heading-top{
         font-family: $font-stack1;
        font-size: 18px; 
        margin-top: 15px;
        color: #425363;
    }
}
